.background {
    width: 1080px;
    height: 2200px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: rgb(16, 16, 17);
    

}

body {
    font-family: "Toss Product Sans", "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Basier Square", "Apple SD Gothic Neo", Roboto, "Noto Sans KR", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    box-sizing: border-box;
    word-break: keep-all;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: rgb(255,255,255);
  }

.container {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 1000px;
    height : 100% ;
}

#highbar {
    display:flex;
    flex-direction: row;
}

#imagebar {
    display:flex;
    padding-bottom: 70px;
}

#tosslogo {
 padding-right: 500px;
}

#smile {
    padding-right: 50px;
}

.Tossbox1 {
    display:flex;
    flex-direction: row;
    background-color: rgb(24, 23, 28);
    border-radius: 50px;
    height: 205px;
    border-color: rgb(24, 23, 28);
    align-items: center;
    margin-bottom: 35px

}

.Tossbox1 strong {
    font-size: 60px;
    color: aliceblue;
    padding-left: 65px;
    padding-right: 550px;
}

.section {
    display:flex;
    flex-direction: column;
    background-color: rgb(24, 23, 28);
    border-radius: 50px;
    height: 100%;
    border-color: rgb(24, 23, 28);
}

.Tossbox2 {
    display:flex;
    flex-direction: row;
    background-color: rgb(24, 23, 28);
    border-radius: 50px;
    border-color: rgb(24, 23, 28);
    margin-bottom: 35px;
    margin-top:  70px;
}

.Tossbox2 strong {
    font-size: 60px;
    color: aliceblue;
    padding-right: 670px;
    padding-left: 65px;
}
   
.item{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:80px;
}

.item1image {
    margin-left: 50px;
    margin-right: 40px;
}

.itemexplaination {
    margin-top: 18px;
    color: aliceblue;
    display:flex;
    flex-direction: column;
    width: 550px;
    height: 100%;
}

.idname{
    font-size: 35px;
    color: rgb(160, 159, 165);
}

.hiddenaccount{
    margin-top:10px;
    font-size: 50px;
    color: rgb(229, 229, 231);
}


.send {
    display: flex;
    color:rgb(198, 197, 202);
    width: 150px;
    height: 90px;
    background-color: rgb(62, 61, 66);
    justify-content : center;
    align-items : center;
    border-radius: 20px;
    font-size: 30px;
}

#lastitem {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: bottom 30px;
}

.footer {
    position: static;
    height:384px;
    width:1080px;
    display: flex;
    flex-direction: column;
    border-radius: 60px 60px 0px 0px;
    background-color: rgb(24, 23, 28);
    bottom:0;
    padding-left: 0px;
    z-index: 10;
    left:0px;
    border-color: rgb(62, 61, 67);
    border-width: 1.5px;
    border-style: outset;

}

.Tossbox3{
    display:flex;
    flex-direction: row;
    margin-bottom: 45px;
    margin-top:  70px;
    margin-left:145px;
}

#consume {
    font-size: 60px;
    color: aliceblue;
    padding-right: 440px;
}

#newissue {
    display: flex;
    color:rgb(52, 128, 247);
    width: 273px;
    height: 90px;
    background-color: rgb(44, 44, 52);
    justify-content : center;
    align-items : center;
    border-radius: 20px;
    font-size: 35px;
    margin-right: 90px;
}

#footerbar{
    display:flex;
    flex-direction: row;

width: 875px;
height: 120px;
    margin-bottom: 60px;
    margin-left:125px;
    align-items:center;
    justify-content: space-between;
}
    