<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'project.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <div id="container">
        <nav>
            <div id="logo">
                <strong>Dare 2 Fail</strong>
                <P style="color:blue">.</P>
            </div>

            <div id="barcontainer">
                <ul id="menubar">
                    <li id="Home">
                        <a href="./Home"><strong>Home</strong></a>

                    </li>

                    <li>
                        <a href="./project"><strong>project</strong></a>
                    </li>

                </ul>
            </div>
        </nav>

    </div>

    <div id="section">
        <div id="toss">
            <img id="image" src="../static/image/toss.png" />
            <img id="image" src="../static/image/toss2.png" />
        </div>
    </div>


</body>
</html>