{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'detail.css' %}" />
{% endblock %}
    <title>{{ article.title }}</title>
</head>
<body>
    {% block MainContainer %}
    <div class="articletitle">
        <div>{{ article.title }}</div>    
    </div>
    <div class="articlecontent">
        <div>{{ article.content }}</div>
    </div>
    <a id="back" href="{% url 'list' %}">Back</a>
    <form action="{% url 'comment' article.id %}" method="post" class="commentWrapper">
        {% csrf_token %}
        <input type="text" name="content" placeholder="댓글을 입력해주세요!">
        <button type="submit">등록하기</button>
    </form>



    {% endblock %}
</body>
</html>